<nav class="navbar navbar-expand-lg navbar-light bg-light">
<a class="navbar-brand" href="/">{{appName}}</a>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item"><a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a></li>
			<li class="nav-item"><a class="nav-link" href="/Authentication">Authentication</a></li>
		</ul>
	</div>
</nav>