<div class="container">
	<table class="table table-striped">
		<thead>
			<th>Id</th>
			<th>Name</th>
			<th>&nbsp;</th>
		</thead>
		<tbody>
			<tr *ngFor="let user of users">
				<td>{{user.id}}</td>
				<td>{{user.name}}</td>
				<td>
					<button class="btn btn-danger" (click)="deleteUser(user)">Delete</button>
					<button class="btn btn-primary" (click)="showEditUserForm(user)">Update</button>
				</td>
			</tr>
		</tbody>
	</table>
	<button class="btn btn-primary" (click)="showAddUserForm()">Add New User</button>
	<hr>
	
	<form *ngIf="userForm">
		<b>Add New User</b>
		<br>
		<div class="form-group">
			<label for="name" class="control-label">Name</label> 
			<input type="text" name="name" id="name" class="form-control" [(ngModel)]="newUser.name">
		</div>
		<div class="form-group">
			<label for="username" class="control-label">Username</label> 
			<input type="text" name="username" id="username" class="form-control" [(ngModel)]="newUser.username">
		</div>
		<div class="form-group">
			<label for="password" class="control-label">Password</label> 
			<input type="password" name="password" id="password" class="form-control" [(ngModel)]="newUser.password">
		</div>
		<button type="button" class="btn btn-warning" (click)="cancelNewUser()">Cancel</button>
		<button type="button" class="btn btn-success" (click)="saveUser()">Save New User</button>
		<hr>
	</form>
	
	<form *ngIf="editUserForm">	
		<b>Update User With Id {{editedUser.id}}</b>
		<br>
		<div class="form-group">
			<label for="name" class="control-label">Name</label> 
			<input type="text" name="name" id="name" class="form-control" [(ngModel)]="editedUser.name">
		</div>
		<div class="form-group">
			<label for="username" class="control-label">Username</label> 
			<input type="text" name="username" id="username" class="form-control" [(ngModel)]="editedUser.username">
		</div>
		<div class="form-group">
			<label for="password" class="control-label">Password</label> 
			<input type="password" name="password" id="password" class="form-control" [(ngModel)]="editedUser.password">
		</div>
		<button type="button" class="btn btn-warning" (click)="cancelEdits()">Cancel</button>
		<button type="button" class="btn btn-success" (click)="updateUser()">Update User</button>
		<hr>
	</form>
</div>