<div class="container">
	<br>
	<table class="table table-striped">
		<thead>
			<th>Id</th>
			<th>Name</th>
			<th>&nbsp;</th>
		</thead>
		<tbody>
			<tr *ngFor="let user of users">
				<td>{{user.id}}</td>
				<td>{{user.name}}</td>
				<td>
					<button class="btn btn-danger" (click)="deleteUser(user)">Delete</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>